@import "variables.styl"
@import 'globales.styl'

.contenedor
  width: 85%
  margin: auto
  
.header
  display: flex
  width: 100%
  height 100px
  justify-content: space-between
  padding: 15px 0
  align-items: center
  &__nav ul
    display: flex
  &__nav li
    list-style: none
    padding: 0 5px
    margin: 0 10px
  &__nav li a
    text-decoration: none
  &__nav li:last-child 
    margin-right: 0
    
.content
  display: grid
  grid-template-columns: 55% 45%
  padding: 20px 0
  &__text
    grid-column: 1
    width: 100%
    margin: auto 0
    padding-right: 40px
  &__text p
    font-size: 17.5px
  &__text input
    height: 45px
    width: 55%
    margin-right: 10px
  &__text input::placeholder
    padding-left: 20px
    
  &__img
    grid-column: 2
  &__img img
    width: 100%
.button
  background: azul 
  color: white
  height: 45px
  width: 160px
  border-radius: 5px
  border: none

.contentTwo
  background-color: blanco

.section
  display: grid
  grid-template-columns: 60% 40%
  padding: 20px 0
  &__text
    grid-column: 1
    width: 75%
  &__text p
    font-size: 15.5px
  &__text a
    font-size: 15.5px
    text-decoration: none
    color: #3B9886
    padding-bottom: 3px
    border-bottom: 1px solid #3B9886
  &__img
    grid-column: 2
    text-align: center
    padding-top: 20px
  &__img img
    width: 100%
    height: auto

.testimonial
  background-color: white
  margin: 40px 0;
  padding: 30px 40px
  width: 71%;
  border-radius: 5px
  p
    font-size: 14px
    margin-top: 5px
  &__footer
    display: flex
    img
      width: 45px
      height: 45px
      border-radius: 50%
  &__footer--name
    margin: auto 10px
    h4
      margin: 0
    span
      font-size: 11px

.contacto
  padding: 50px 0
  background-color: morado
  color: blanco

.contact
  display: grid
  grid-template-columns: 1fr 1fr
  &__history
    padding-right: 16%
    h2
      font-size: 1.8em;
    p
      font-size: 0.95em
  &__form
    padding-left: 20%
    margin: auto 0    
  &__form--input
    height: 45px
    width: 100%
    display: block
    margin-bottom: 10px
  &__form--input::placeholder
    padding-left: 20px

.background
  background-color: azul-oscuro
  color: blanco
  padding: 50px 0
  a
    color: white
    text-decoration: none
    font-size: .8em
.footer
  display: grid
  grid-template-columns: repeat(4, 1fr)
  margin-top: 10px
  ul
    margin: 0
    list-style: none
    li
      margin-bottom: 10px
  &__contact a
    margin-left: 10px
  &__social
    display: flex
    div
      margin-right: 10px

.attribution
  font-size: 11px
  text-align: center
  grid-column-start: 2
  grid-column-end: 4
  a 
    color: hsl(228, 45%, 44%)
      