*
  box-sizing: border-box

body 
  font-family: fuente-principal
  background-color: blanco
  margin: 0

.header, h1, h2, h4, button, .footer
  font-family: fuente-segundaria
  
h1
  font-size: 39px
  margin: 10px 0
  color: azul-oscuro

p
  font-size: 18px